# Pre-process External Datasets

Perform column renaming and basic data type transformations on external datasets and save into raw folder

In [1]:
import os
import pandas as pd
import geopandas as gpd

## ABS

### GCCSA Boundary Shapefile

Read file

In [2]:
gccsa_sf = gpd.read_file("../data/landing/boundary/gccsa")

gccsa_sf.head()

,GCC_CODE21,GCC_NAME21,CHG_FLAG21,CHG_LBL21,STE_CODE21,STE_NAME21,AUS_CODE21,AUS_NAME21,AREASQKM21,LOCI_URI21,geometry
0,1GSYD,Greater Sydney,0,No change,1,New South Wales,AUS,Australia,12368.6858,http://linked.data.gov.au/dataset/asgsed3/GCCS...,"MULTIPOLYGON (((151.28159 -33.83318, 151.28151..."
1,1RNSW,Rest of NSW,0,No change,1,New South Wales,AUS,Australia,788428.9733,http://linked.data.gov.au/dataset/asgsed3/GCCS...,"MULTIPOLYGON (((159.0623 -31.50886, 159.06218 ..."
2,19499,No usual address (NSW),0,No change,1,New South Wales,AUS,Australia,NaN,http://linked.data.gov.au/dataset/asgsed3/GCCS...,None
3,19799,Migratory - Offshore - Shipping (NSW),0,No change,1,New South Wales,AUS,Australia,NaN,http://linked.data.gov.au/dataset/asgsed3/GCCS...,None
4,2GMEL,Greater Melbourne,0,No change,2,Victoria,AUS,Australia,9992.6081,http://linked.data.gov.au/dataset/asgsed3/GCCS...,"MULTIPOLYGON (((144.88829 -38.5026, 144.88825 ..."

In [3]:
gccsa_sf.shape

(35, 11)

In [4]:
gccsa_sf.columns

Index(['GCC_CODE21', 'GCC_NAME21', 'CHG_FLAG21', 'CHG_LBL21', 'STE_CODE21',
       'STE_NAME21', 'AUS_CODE21', 'AUS_NAME21', 'AREASQKM21', 'LOCI_URI21',
       'geometry'],
      dtype='object')

Rename columns to make them a consistent case and make them compatible with other datasets

In [5]:
gccsa_sf.columns = [col
                    .lower()                        # Convert to lowercase
                    .replace("21", "")              # Remove '21' 
                    for col in gccsa_sf.columns]

gccsa_sf.columns

Index(['gcc_code', 'gcc_name', 'chg_flag', 'chg_lbl', 'ste_code', 'ste_name',
       'aus_code', 'aus_name', 'areasqkm', 'loci_uri', 'geometry'],
      dtype='object')

Check data types

In [6]:
gccsa_sf.dtypes

gcc_code      object
gcc_name      object
chg_flag      object
chg_lbl       object
ste_code      object
ste_name      object
aus_code      object
aus_name      object
areasqkm     float64
loci_uri      object
geometry    geometry
dtype: object

Save into raw folder

In [7]:
output_dir = f"../data/raw/boundary/gccsa"

# Create directory
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# Save file
gccsa_sf.to_file(f"{output_dir}/gccsa_boundary.shp")

### SA2

#### Boundary Shapefile

Read file

In [8]:
sa2_sf = gpd.read_file("../data/landing/boundary/sa2")

sa2_sf.head()

,SA2_CODE21,SA2_NAME21,CHG_FLAG21,CHG_LBL21,SA3_CODE21,SA3_NAME21,SA4_CODE21,SA4_NAME21,GCC_CODE21,GCC_NAME21,STE_CODE21,STE_NAME21,AUS_CODE21,AUS_NAME21,AREASQKM21,LOCI_URI21,geometry
0,101021007,Braidwood,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,3418.3525,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.58424 -35.44426, 149.58444 -35.4..."
1,101021008,Karabar,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,6.9825,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.21899 -35.36738, 149.218 -35.366..."
2,101021009,Queanbeyan,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,4.7620,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.21326 -35.34325, 149.21619 -35.3..."
3,101021010,Queanbeyan - East,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,13.0032,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.24034 -35.34781, 149.24024 -35.3..."
4,101021012,Queanbeyan West - Jerrabomberra,0,No change,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,AUS,Australia,13.6748,http://linked.data.gov.au/dataset/asgsed3/SA2/...,"POLYGON ((149.19572 -35.36126, 149.1997 -35.35..."

In [9]:
sa2_sf.shape

(2473, 17)

In [10]:
sa2_sf.columns

Index(['SA2_CODE21', 'SA2_NAME21', 'CHG_FLAG21', 'CHG_LBL21', 'SA3_CODE21',
       'SA3_NAME21', 'SA4_CODE21', 'SA4_NAME21', 'GCC_CODE21', 'GCC_NAME21',
       'STE_CODE21', 'STE_NAME21', 'AUS_CODE21', 'AUS_NAME21', 'AREASQKM21',
       'LOCI_URI21', 'geometry'],
      dtype='object')

Rename columns to make them a consistent case and make them compatible with other datasets

In [11]:
sa2_sf.columns = [col
                  .lower()                      # Convert to lowercase
                  .replace("21", "")            # Remove '21' 
                  for col in sa2_sf.columns]

sa2_sf.columns

Index(['sa2_code', 'sa2_name', 'chg_flag', 'chg_lbl', 'sa3_code', 'sa3_name',
       'sa4_code', 'sa4_name', 'gcc_code', 'gcc_name', 'ste_code', 'ste_name',
       'aus_code', 'aus_name', 'areasqkm', 'loci_uri', 'geometry'],
      dtype='object')

Check data types

In [12]:
sa2_sf.dtypes

sa2_code      object
sa2_name      object
chg_flag      object
chg_lbl       object
sa3_code      object
sa3_name      object
sa4_code      object
sa4_name      object
gcc_code      object
gcc_name      object
ste_code      object
ste_name      object
aus_code      object
aus_name      object
areasqkm     float64
loci_uri      object
geometry    geometry
dtype: object

Save into raw folder

In [13]:
output_dir = f"../data/raw/boundary/sa2"

# Create directory
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# Save file
sa2_sf.to_file(f"{output_dir}/sa2_boundary.shp")

#### Income Data

Read file, ignoring excess formatting cells

In [14]:
income_df = pd.read_excel("../data/landing/sa2_income.xlsx", 
                          sheet_name = "Table 2.4", 
                          header = [5, 6], 
                          na_values = "np",
                          thousands = ",",
                          skipfooter = 5
                          )

income_df.head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Earners,Median age of earners,Sum,Median,Mean,P80/P20,P80/P50,P20/P50,P10/P50,Gini coefficient,Top 1%,Top 5%,Top 10%,Lowest Quartile,Second Quartile,Third Quartile,Highest Quartile
,SA2,SA2 NAME,(persons),years,$,$,$,ratio,ratio,ratio,ratio,coef.,%,%,%,%,%,%,%
0,Australia,NaN,14760008.0,42.0,1.040901e+12,54890.0,70522.0,5.00,1.88,0.38,0.14,0.483,9.8,22.5,33.4,25.0,25.0,25.0,25.0
1,New South Wales,NaN,4603736.0,42.0,3.411075e+11,55854.0,74094.0,5.00,1.90,0.38,0.15,0.497,11.2,24.3,35.2,24.6,24.6,24.7,26.1
2,101021007,Braidwood,2467.0,51.0,1.699867e+08,46640.0,68904.0,6.84,2.05,0.30,0.07,0.615,21.2,32.6,42.7,31.8,24.3,21.7,22.2
3,101021008,Karabar,5103.0,42.0,3.555383e+08,65564.0,69672.0,3.37,1.57,0.47,0.23,0.365,4.4,14.5,24.1,17.8,22.6,32.9,26.7
4,101021009,Queanbeyan,7028.0,39.0,4.861574e+08,63528.0,69174.0,3.24,1.58,0.49,0.26,0.368,4.6,14.7,24.5,16.8,24.0,33.4,25.7

In [15]:
income_df.shape

(2459, 19)

In [16]:
income_df.columns

MultiIndex([(   'Unnamed: 0_level_0',       'SA2'),
            (   'Unnamed: 1_level_0',  'SA2 NAME'),
            (              'Earners', '(persons)'),
            ('Median age of earners',     'years'),
            (                  'Sum',         '$'),
            (               'Median',         '$'),
            (                 'Mean',         '$'),
            (              'P80/P20',     'ratio'),
            (              'P80/P50',     'ratio'),
            (              'P20/P50',     'ratio'),
            (              'P10/P50',     'ratio'),
            (     'Gini coefficient',     'coef.'),
            (               'Top 1%',         '%'),
            (               'Top 5%',         '%'),
            (              'Top 10%',         '%'),
            (      'Lowest Quartile',         '%'),
            (      'Second Quartile',         '%'),
            (       'Third Quartile',         '%'),
            (     'Highest Quartile',         '%')],
           )

Rename columns to make them a consistent case and make them compatible with other datasets

In [17]:
# List to hold new column names
income_cols = []

for i in range(len(income_df.columns)):

    # For the first two columns, take the second part of the multi-header
    if i < 2:
        income_cols.append(income_df.columns[i][1]
                           .lower()                 # Convert to lowercase
                           .replace(" ", "_")       # Replace spaces with underscores
                           )

    # For the rest of the columns, take the first part of the multi-header    
    else:
        income_cols.append(income_df.columns[i][0]
                           .lower()                 # Convert to lowercase
                           .replace(" ", "_")       # Replace spaces with underscores
                           )

income_cols

['sa2',
 'sa2_name',
 'earners',
 'median_age_of_earners',
 'sum',
 'median',
 'mean',
 'p80/p20',
 'p80/p50',
 'p20/p50',
 'p10/p50',
 'gini_coefficient',
 'top_1%',
 'top_5%',
 'top_10%',
 'lowest_quartile',
 'second_quartile',
 'third_quartile',
 'highest_quartile']

Other datasets have `sa2_code` instead of `sa2`. Rename for consistency

In [18]:
income_cols[0] = "sa2_code"

Assign new column names

In [19]:
income_df.columns = income_cols

income_df.columns

Index(['sa2_code', 'sa2_name', 'earners', 'median_age_of_earners', 'sum',
       'median', 'mean', 'p80/p20', 'p80/p50', 'p20/p50', 'p10/p50',
       'gini_coefficient', 'top_1%', 'top_5%', 'top_10%', 'lowest_quartile',
       'second_quartile', 'third_quartile', 'highest_quartile'],
      dtype='object')

Check data types

In [20]:
income_df.dtypes

sa2_code                  object
sa2_name                  object
earners                  float64
median_age_of_earners    float64
sum                      float64
median                   float64
mean                     float64
p80/p20                  float64
p80/p50                  float64
p20/p50                  float64
p10/p50                  float64
gini_coefficient         float64
top_1%                   float64
top_5%                   float64
top_10%                  float64
lowest_quartile          float64
second_quartile          float64
third_quartile           float64
highest_quartile         float64
dtype: object

Save into raw folder

In [21]:
output_dir = f"../data/raw"

# Create directory
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# Save file
income_df.to_csv(f"{output_dir}/sa2_income.csv", index = False)

#### Historical Population Data

Read file, ignoring excess formatting cells

In [22]:
population_df = pd.read_excel("../data/landing/sa2_population_hist.xlsx", 
                       sheet_name = "Table 1", 
                       header = [5, 6], 
                       skipfooter = 2
                       )

population_df

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 2_level_0,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,2001,2002,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
,GCCSA code,GCCSA name,SA4 code,SA4 name,SA3 code,SA3 name,SA2 code,SA2 name,no.,no.,...,no.,no.,no.,no.,no.,no.,no.,no.,no.,no.
0,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021007,Braidwood,2760,2811,...,3762,3849,3950,4041,4145,4218,4282,4332,4366,4396
1,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021008,Karabar,9129,9199,...,8731,8603,8531,8530,8516,8500,8535,8548,8528,8483
2,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021009,Queanbeyan,9717,9513,...,11199,11213,11230,11362,11460,11468,11460,11375,11391,11420
3,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021010,Queanbeyan - East,3925,4073,...,4967,4961,4970,5016,5079,5126,5089,5097,5091,5099
4,1RNSW,Rest of NSW,101,Capital Region,10102,Queanbeyan,101021012,Queanbeyan West - Jerrabomberra,9425,10257,...,13193,13164,13150,13090,13022,12955,12821,12748,12781,12873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2449,8ACTE,Australian Capital Territory,801,Australian Capital Territory,80111,Uriarra - Namadgi,801111141,Namadgi,12,11,...,38,39,39,45,50,55,60,67,67,67
2450,9OTER,Other Territories,901,Other Territories,90101,Christmas Island,901011001,Christmas Island,1442,1365,...,1979,1929,1903,1876,1848,1803,1758,1717,1786,1823
2451,9OTER,Other Territories,901,Other Territories,90102,Cocos (Keeling) Islands,901021002,Cocos (Keeling) Islands,600,568,...,556,555,546,552,553,591,608,603,616,631
2452,9OTER,Other Territories,901,Other Territories,90103,Jervis Bay,901031003,Jervis Bay,542,464,...,361,367,402,398,386,367,335,309,307,307
2453,9OTER,Other Territories,901,Other Territories,90104,Norfolk Island,901041004,Norfolk Island,0,0,...,0,0,1757,1845,1938,2015,2102,2221,2211,2209

In [23]:
population_df.shape

(2454, 31)

In [24]:
population_df.columns

MultiIndex([('Unnamed: 0_level_0', 'GCCSA code'),
            ('Unnamed: 1_level_0', 'GCCSA name'),
            ('Unnamed: 2_level_0',   'SA4 code'),
            ('Unnamed: 3_level_0',   'SA4 name'),
            ('Unnamed: 4_level_0',   'SA3 code'),
            ('Unnamed: 5_level_0',   'SA3 name'),
            ('Unnamed: 6_level_0',   'SA2 code'),
            ('Unnamed: 7_level_0',   'SA2 name'),
            (                2001,        'no.'),
            (                2002,        'no.'),
            (                2003,        'no.'),
            (                2004,        'no.'),
            (                2005,        'no.'),
            (                2006,        'no.'),
            (                2007,        'no.'),
            (                2008,        'no.'),
            (                2009,        'no.'),
            (                2010,        'no.'),
            (                2011,        'no.'),
            (                2012,        'no.'),
            (                2013,        'no.'),
            (                2014,        'no.'),
            (                2015,        'no.'),
            (                2016,        'no.'),
            (                2017,        'no.'),
            (                2018,        'no.'),
            (                2019,        'no.'),
            (                2020,        'no.'),
            (                2021,        'no.'),
            (                2022,        'no.'),
            (                2023,        'no.')],
           )

Rename columns to make them a consistent case and make them compatible with other datasets

In [25]:
# List to hold new column names
population_cols = []

for i in range(len(population_df.columns)):

    # For the first 8 columns, take the second part of the multi-header 
    # Rename "gccsa" to "gcc" for consistency with other datasets
    if i < 8:
        population_cols.append(population_df.columns[i][1]
                            .lower()                        # Convert to lowercase
                            .replace(" ", "_")              # Replace spaces with underscores
                            .replace("gccsa", "gcc")        # Replace "gccsa" with "gcc"
                            )

    # For the rest of the columns, take the first part of the multi-header    
    else:
        population_cols.append(str(population_df.columns[i][0]))

population_cols

['gcc_code',
 'gcc_name',
 'sa4_code',
 'sa4_name',
 'sa3_code',
 'sa3_name',
 'sa2_code',
 'sa2_name',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023']

In [26]:
population_df.columns = population_cols

population_df.columns

Index(['gcc_code', 'gcc_name', 'sa4_code', 'sa4_name', 'sa3_code', 'sa3_name',
       'sa2_code', 'sa2_name', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

Check data types

In [27]:
population_df.dtypes

gcc_code    object
gcc_name    object
sa4_code     int64
sa4_name    object
sa3_code     int64
sa3_name    object
sa2_code     int64
sa2_name    object
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
2009         int64
2010         int64
2011         int64
2012         int64
2013         int64
2014         int64
2015         int64
2016         int64
2017         int64
2018         int64
2019         int64
2020         int64
2021         int64
2022         int64
2023         int64
dtype: object

Code columns (e.g. `sa2_code`) represent unique idenitifiers in the real world, not numbers, so it doesn't make sense to store them as `int`

In [28]:
population_df[["sa4_code", "sa3_code", "sa2_code"]] = population_df[["sa4_code", "sa3_code", "sa2_code"]].astype(str)

population_df.dtypes

gcc_code    object
gcc_name    object
sa4_code    object
sa4_name    object
sa3_code    object
sa3_name    object
sa2_code    object
sa2_name    object
2001         int64
2002         int64
2003         int64
2004         int64
2005         int64
2006         int64
2007         int64
2008         int64
2009         int64
2010         int64
2011         int64
2012         int64
2013         int64
2014         int64
2015         int64
2016         int64
2017         int64
2018         int64
2019         int64
2020         int64
2021         int64
2022         int64
2023         int64
dtype: object

Save into raw folder

In [29]:
output_dir = f"../data/raw"

# Create directory
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# Save file
population_df.to_csv(f"{output_dir}/sa2_population_hist.csv", index = False)

### Postal Areas Boundary Shapefile

Read file

In [30]:
postcode_sf = gpd.read_file("../data/landing/boundary/postcode")

postcode_sf.head()

,POA_CODE21,POA_NAME21,AUS_CODE21,AUS_NAME21,AREASQKM21,LOCI_URI21,SHAPE_Leng,SHAPE_Area,geometry
0,0800,0800,AUS,Australia,3.1731,http://linked.data.gov.au/dataset/asgsed3/POA/...,0.081893,0.000264,"POLYGON ((130.8368 -12.45378, 130.83683 -12.45..."
1,0810,0810,AUS,Australia,24.4283,http://linked.data.gov.au/dataset/asgsed3/POA/...,0.241859,0.002031,"POLYGON ((130.89985 -12.36568, 130.89874 -12.3..."
2,0812,0812,AUS,Australia,35.8899,http://linked.data.gov.au/dataset/asgsed3/POA/...,0.278789,0.002983,"POLYGON ((130.91914 -12.40788, 130.9183 -12.40..."
3,0820,0820,AUS,Australia,39.0642,http://linked.data.gov.au/dataset/asgsed3/POA/...,0.409134,0.003248,"POLYGON ((130.8526 -12.43995, 130.85088 -12.43..."
4,0822,0822,AUS,Australia,150775.8030,http://linked.data.gov.au/dataset/asgsed3/POA/...,90.601833,12.564239,"MULTIPOLYGON (((136.56647 -12.08393, 136.56703..."

In [31]:
postcode_sf.shape

(2644, 9)

In [32]:
postcode_sf.columns

Index(['POA_CODE21', 'POA_NAME21', 'AUS_CODE21', 'AUS_NAME21', 'AREASQKM21',
       'LOCI_URI21', 'SHAPE_Leng', 'SHAPE_Area', 'geometry'],
      dtype='object')

Rename columns to make them a consistent case and make them compatible with other datasets

In [33]:
postcode_sf.columns = [col
                       .lower()                         # Convert to lowercase
                       .replace("21", "")               # Remove '21' 
                       for col in postcode_sf.columns]

postcode_sf.columns

Index(['poa_code', 'poa_name', 'aus_code', 'aus_name', 'areasqkm', 'loci_uri',
       'shape_leng', 'shape_area', 'geometry'],
      dtype='object')

Check data types

In [34]:
postcode_sf.dtypes

poa_code        object
poa_name        object
aus_code        object
aus_name        object
areasqkm       float64
loci_uri        object
shape_leng     float64
shape_area     float64
geometry      geometry
dtype: object

Save into raw folder

In [35]:
output_dir = f"../data/raw/boundary/postcode"

# Create directory
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# Save file
postcode_sf.to_file(f"{output_dir}/postcode_boundary.shp")

### Suburbs and Localities Boundary Shapefile

Read file

In [36]:
suburb_sf = gpd.read_file("../data/landing/boundary/suburb")

suburb_sf.head()

,SAL_CODE21,SAL_NAME21,STE_CODE21,STE_NAME21,AUS_CODE21,AUS_NAME21,AREASQKM21,LOCI_URI21,SHAPE_Leng,SHAPE_Area,geometry
0,10001,Aarons Pass,1,New South Wales,AUS,Australia,82.7639,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.554241,0.007975,"POLYGON ((149.82477 -32.84384, 149.83271 -32.8..."
1,10002,Abbotsbury,1,New South Wales,AUS,Australia,4.9788,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.123051,0.000485,"POLYGON ((150.86523 -33.88264, 150.86479 -33.8..."
2,10003,Abbotsford (NSW),1,New South Wales,AUS,Australia,1.0180,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.053423,0.000099,"POLYGON ((151.13472 -33.85492, 151.13445 -33.8..."
3,10004,Abercrombie,1,New South Wales,AUS,Australia,2.9775,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.097338,0.000289,"POLYGON ((149.55192 -33.3928, 149.55148 -33.39..."
4,10005,Abercrombie River,1,New South Wales,AUS,Australia,127.1701,http://linked.data.gov.au/dataset/asgsed3/SAL/...,0.848903,0.012397,"POLYGON ((149.25562 -33.96535, 149.25563 -33.9..."

In [37]:
suburb_sf.shape

(15353, 11)

In [38]:
suburb_sf.columns

Index(['SAL_CODE21', 'SAL_NAME21', 'STE_CODE21', 'STE_NAME21', 'AUS_CODE21',
       'AUS_NAME21', 'AREASQKM21', 'LOCI_URI21', 'SHAPE_Leng', 'SHAPE_Area',
       'geometry'],
      dtype='object')

Rename columns to make them a consistent case and make them compatible with other datasets

In [39]:
suburb_sf.columns = [col
                     .lower()                       # Convert to lowercase
                     .replace("21", "")             # Remove '21' 
                     for col in suburb_sf.columns]

suburb_sf.columns

Index(['sal_code', 'sal_name', 'ste_code', 'ste_name', 'aus_code', 'aus_name',
       'areasqkm', 'loci_uri', 'shape_leng', 'shape_area', 'geometry'],
      dtype='object')

Check data types

In [40]:
suburb_sf.dtypes

sal_code        object
sal_name        object
ste_code        object
ste_name        object
aus_code        object
aus_name        object
areasqkm       float64
loci_uri        object
shape_leng     float64
shape_area     float64
geometry      geometry
dtype: object

Save into raw folder

In [41]:
output_dir = f"../data/raw/boundary/suburb"

# Create directory
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# Save file
suburb_sf.to_file(f"{output_dir}/suburb_boundary.shp")

## DFFH Suburb Historical Rent Data

Read file, ignoring excess formatting cells

In [42]:
rent_df = pd.read_excel("../data/landing/suburb_rent_hist.xlsx", 
                        sheet_name = "All properties", 
                        header = [1, 2], 
                        index_col = [0, 1], 
                        na_values = "-"
                        )

rent_df

All properties                                               Mar 2000         \
                                                                Count Median
Inner Melbourne        Albert Park-Middle Park-West St Kilda   1143.0  260.0
                       Armadale                                 733.0  200.0
                       Carlton North                            864.0  260.0
                       Carlton-Parkville                       1339.0  260.0
                       CBD-St Kilda Rd                         2132.0  320.0
...                                                               ...    ...
Other Regional Centres Wanagaratta                              705.0  125.0
                       Warragul                                 385.0  130.0
                       Warrnambool                             1266.0  130.0
                       Wodonga                                 1446.0  145.0
                       Group Total                            13812.0  130.0

All properties                                               Jun 2000         \
                                                                Count Median
Inner Melbourne        Albert Park-Middle Park-West St Kilda     1134    260
                       Armadale                                   737    200
                       Carlton North                              814    260
                       Carlton-Parkville                         1304    260
                       CBD-St Kilda Rd                           2264    320
...                                                               ...    ...
Other Regional Centres Wanagaratta                                671    125
                       Warragul                                   367    135
                       Warrnambool                               1229    135
                       Wodonga                                   1439    145
                       Group Total                              13758    130

All properties                                               Sep 2000         \
                                                                Count Median
Inner Melbourne        Albert Park-Middle Park-West St Kilda   1177.0  270.0
                       Armadale                                 738.0  205.0
                       Carlton North                            799.0  265.0
                       Carlton-Parkville                       1300.0  260.0
                       CBD-St Kilda Rd                         2358.0  320.0
...                                                               ...    ...
Other Regional Centres Wanagaratta                              631.0  130.0
                       Warragul                                 382.0  135.0
                       Warrnambool                             1204.0  135.0
                       Wodonga                                 1468.0  150.0
                       Group Total                            13842.0  130.0

All properties                                               Dec 2000         \
                                                                Count Median
Inner Melbourne        Albert Park-Middle Park-West St Kilda   1178.0  275.0
                       Armadale                                 739.0  210.0
                       Carlton North                            736.0  270.0
                       Carlton-Parkville                       1320.0  260.0
                       CBD-St Kilda Rd                         2361.0  320.0
...                                                               ...    ...
Other Regional Centres Wanagaratta                              623.0  130.0
                       Warragul                                 366.0  135.0
                       Warrnambool                             1135.0  135.0
                       Wodonga                                 1449.0  150.0
                       Group Total                            13636.0  130.0

All properties                                               Mar 2001         \
                                                                Count Median
Inner Melbourne        Albert Park-Middle Park-West St Kilda   1208.0  275.0
                       Armadale                                 718.0  215.0
                       Carlton North                            718.0  270.0
                       Carlton-Parkville                       1273.0  260.0
                       CBD-St Kilda Rd                         2591.0  320.0
...                                                               ...    ...
Other Regional Centres Wanagaratta                              602.0  130.0
                       Warragul                                 365.0  135.0
                       Warrnambool                             1069.0  140.0
                       Wodonga                                 1405.0  150.0
                       Group Total                            13285.0  135.0

All properties                                                ... Mar 2022  \
                                                              ...    Count
Inner Melbourne        Albert Park-Middle Park-West St Kilda  ...      867
                       Armadale                               ...      805
                       Carlton North                          ...      581
                       Carlton-Parkville                      ...     6143
                       CBD-St Kilda Rd                        ...    17845
...                                                           ...      ...
Other Regional Centres Wanagaratta                            ...      531
                       Warragul                               ...      522
                       Warrnambool                            ...      854
                       Wodonga                                ...     1233
                       Group Total                            ...    12149

All properties                                                      Jun 2022  \
                                                             Median    Count
Inner Melbourne        Albert Park-Middle Park-West St Kilda    500      855
                       Armadale                                 430      851
                       Carlton North                            580      535
                       Carlton-Parkville                        310     6018
                       CBD-St Kilda Rd                          365    16792
...                                                             ...      ...
Other Regional Centres Wanagaratta                              370      530
                       Warragul                                 400      512
                       Warrnambool                              400      844
                       Wodonga                                  380     1267
                       Group Total                              360    12089

All properties                                                      Sep 2022  \
                                                             Median    Count
Inner Melbourne        Albert Park-Middle Park-West St Kilda    515      881
                       Armadale                                 450      852
                       Carlton North                            595      547
                       Carlton-Parkville                        319     6871
                       CBD-St Kilda Rd                          390    18284
...                                                             ...      ...
Other Regional Centres Wanagaratta                              380      547
                       Warragul                                 400      515
                       Warrnambool                              400      870
                       Wodonga                                  390     1251
                       Group Total                              365    12258

All properties                                                      Dec 2022  \
                                                             Median    Count
Inner Melbourne        Albert Park-Middle Park-West St Kilda    500      832
                       Armadale                                 450      840
                       Carlton North                            600      546
                       Carlton-Parkville                        340     6627
                       CBD-St Kilda Rd                          419    17627
...                                                             ...      ...
Other Regional Centres Wanagaratta                              380      541
                       Warragul                                 420      523
                       Warrnambool                              420      859
                       Wodonga                                  400     1191
                       Group Total                              380    12072

All properties                                                      Mar 2023  \
                                                             Median    Count
Inner Melbourne        Albert Park-Middle Park-West St Kilda    525      786
                       Armadale                                 460      751
                       Carlton North                            600      490
                       Carlton-Parkville                        350     6690
                       CBD-St Kilda Rd                          450    17426
...                                                             ...      ...
Other Regional Centres Wanagaratta                              380      518
                       Warragul                                 430      497
                       Warrnambool                              420      867
                       Wodonga                                  410     1173
                       Group Total                              380    11944

All properties
                                                             Median
Inner Melbourne        Albert Park-Middle Park-West St Kilda    545
                       Armadale                                 490
                       Carlton North                            620
                       Carlton-Parkville                        400
                       CBD-St Kilda Rd                          500
...                                                             ...
Other Regional Centres Wanagaratta                              380
                       Warragul                                 440
                       Warrnambool                              420
                       Wodonga                                  410
                       Group Total                              390

[159 rows x 186 columns]

In [43]:
rent_df.shape

(159, 186)

In [44]:
rent_df = rent_df.reset_index()

rent_df.head()

All properties          level_0                                level_1  \

0               Inner Melbourne  Albert Park-Middle Park-West St Kilda
1               Inner Melbourne                               Armadale
2               Inner Melbourne                          Carlton North
3               Inner Melbourne                      Carlton-Parkville
4               Inner Melbourne                        CBD-St Kilda Rd

All properties Mar 2000        Jun 2000        Sep 2000        Dec 2000  \
                  Count Median    Count Median    Count Median    Count
0                1143.0  260.0     1134    260   1177.0  270.0   1178.0
1                 733.0  200.0      737    200    738.0  205.0    739.0
2                 864.0  260.0      814    260    799.0  265.0    736.0
3                1339.0  260.0     1304    260   1300.0  260.0   1320.0
4                2132.0  320.0     2264    320   2358.0  320.0   2361.0

All properties         ... Mar 2022        Jun 2022        Sep 2022         \
               Median  ...    Count Median    Count Median    Count Median
0               275.0  ...      867    500      855    515      881    500
1               210.0  ...      805    430      851    450      852    450
2               270.0  ...      581    580      535    595      547    600
3               260.0  ...     6143    310     6018    319     6871    340
4               320.0  ...    17845    365    16792    390    18284    419

All properties Dec 2022        Mar 2023
                  Count Median    Count Median
0                   832    525      786    545
1                   840    460      751    490
2                   546    600      490    620
3                  6627    350     6690    400
4                 17627    450    17426    500

[5 rows x 188 columns]

In [45]:
rent_df.columns

MultiIndex([( 'level_0',       ''),
            ( 'level_1',       ''),
            ('Mar 2000',  'Count'),
            ('Mar 2000', 'Median'),
            ('Jun 2000',  'Count'),
            ('Jun 2000', 'Median'),
            ('Sep 2000',  'Count'),
            ('Sep 2000', 'Median'),
            ('Dec 2000',  'Count'),
            ('Dec 2000', 'Median'),
            ...
            ('Mar 2022',  'Count'),
            ('Mar 2022', 'Median'),
            ('Jun 2022',  'Count'),
            ('Jun 2022', 'Median'),
            ('Sep 2022',  'Count'),
            ('Sep 2022', 'Median'),
            ('Dec 2022',  'Count'),
            ('Dec 2022', 'Median'),
            ('Mar 2023',  'Count'),
            ('Mar 2023', 'Median')],
           names=['All properties', None], length=188)

Combine column headings into one and make them a consistent case

In [46]:
rent_df.columns = [f"{i}_{j}"
                   .lower()             # Convert to lowercase
                   .replace(" ", "_")   # Replace spaces with underscores
                   for i, j in rent_df.columns]

rent_df.columns

Index(['level_0_', 'level_1_', 'mar_2000_count', 'mar_2000_median',
       'jun_2000_count', 'jun_2000_median', 'sep_2000_count',
       'sep_2000_median', 'dec_2000_count', 'dec_2000_median',
       ...
       'mar_2022_count', 'mar_2022_median', 'jun_2022_count',
       'jun_2022_median', 'sep_2022_count', 'sep_2022_median',
       'dec_2022_count', 'dec_2022_median', 'mar_2023_count',
       'mar_2023_median'],
      dtype='object', length=188)

Rename first two columns to make them compatible with other datasets

In [47]:
rent_df = rent_df.rename(columns = {"level_0_": "gcc_name", "level_1_": "sal_name"})

rent_df.columns

Index(['gcc_name', 'sal_name', 'mar_2000_count', 'mar_2000_median',
       'jun_2000_count', 'jun_2000_median', 'sep_2000_count',
       'sep_2000_median', 'dec_2000_count', 'dec_2000_median',
       ...
       'mar_2022_count', 'mar_2022_median', 'jun_2022_count',
       'jun_2022_median', 'sep_2022_count', 'sep_2022_median',
       'dec_2022_count', 'dec_2022_median', 'mar_2023_count',
       'mar_2023_median'],
      dtype='object', length=188)

Check data types

In [48]:
rent_df.dtypes

gcc_name            object
sal_name            object
mar_2000_count     float64
mar_2000_median    float64
jun_2000_count       int64
                    ...
sep_2022_median      int64
dec_2022_count       int64
dec_2022_median      int64
mar_2023_count       int64
mar_2023_median      int64
Length: 188, dtype: object

In [49]:
rent_df.dtypes.loc[(rent_df.dtypes != "float64") & (rent_df.dtypes != "int64")]

gcc_name    object
sal_name    object
dtype: object

Save into raw folder

In [50]:
output_dir = f"../data/raw/"

# Create directory
if not os.path.exists(output_dir):
    os.makedirs(output_dir)

# Save file
rent_df.to_csv(f"{output_dir}/suburb_rent_hist.csv", index = False)